@main {
    @*<form action="@routes.RoomController.addRoom()" method="post">*@
        @*room name*@
        @*<input type="text" name="name">*@
        @*weekdays schedule id*@
        @*<input type="number" name="weekdaysScheduleId">*@
        @*weekends schedule id*@
        @*<input type="number" name="weekendsScheduleId">*@
        @*city*@
        @*<input type="text" name="city">*@
        @*address*@
        @*<input type="text" name="address">*@
        @*<button>add order</button>*@
    @*</form>*@
}